@{
    ViewData["Title"] = "Activity Sign Up";
}

@model FullStack.Infrastructure.Models.ViewModels.SubmissionViewModel
<section class="section-form">
    <div class="container form-container flex-center text-center">
        <h1 class="display-4">> Activity Submission</h1>
        <form id="form-activity" action="api/Submission" method="post">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="@Model.FirstName"></label>
                        <input class="form-control" asp-for="@Model.FirstName" />
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="@Model.LastName"></label>
                        <input class="form-control" asp-for="@Model.LastName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="@Model.Email"></label>
                        <input class="form-control" asp-for="@Model.Email" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="@Model.ActivityId"></label>
                        <select class="form-control" asp-for="@Model.ActivityId" asp-items="@Model.submissionActivities">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="@Model.Comments"></label>
                        <textarea class="form-control" asp-for="@Model.Comments"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div asp-validation-summary="All"></div>
                </div>
                <div class="col-3">
                    <button data-target="#submission-modal" type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
    @{
        await Html.RenderPartialAsync("_ModalView", new FullStack.Infrastructure.Models.PartialModels.ModalViewModel()
        {
            Title = "Confirmation",
            Content = "Are you sure?",
            DataTarget = "submission-modal",
        });
    }
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/activity_submission.js"></script>
}